<div class="header clearfix container-fluid">
    <div class="col-md-4 column container-fluid">
        {{#profile}}
        <div class="profile-div">
            <img class="profile-pic profile" alt="140x140" src="{{fbPhoto}}" />
            <h4 class="profile">Welcome {{fbName}}!</h4>
        </div>
        {{/profile}}
        {{#profile}}
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a href="/home">
                    <button type="button" class="btn btn-default">Category</button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="/home">
                    <button type="button" class="btn btn-default">Timeline</button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="/home">
                    <button type="button" class="btn btn-default">Favourite</button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="/checkFriends">
                <button type="button" class="btn btn-default">Friends</button>
                </a>
            </div>
        </div>
        {{/profile}}
    </div>
    <div class="col-md-8 column">
        {{#profile}}
            <h1 align="right">Thats what you liked</h1>
            <h4 align="right">You liked {{totalPage}} pages!</h4>
            <div align="right">
                <div class="btn-group" role="group">
                    <a href="/share">
                    <button type="button" class="btn btn-default">Share</button>
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <a href="/logout">
                    <button type="button" class="btn btn-default">Logout</button>
                    </a>
                </div>
            </div>
        {{/profile}}
    </div>
</div>
{{#profile}}
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    </div>
    <a href="/logout"><button>Logout</button></a>
    <a href="/monthLikes"><button>Page I like this month</button></a>
    {{!-- share button --}}
    <div class="fb-share-button" data-href="http://159.203.93.124:8080/" data-layout="button" data-size="large" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2F&amp;src=sdkpreparse">Share</a>
    </div>
</div>
{{/profile}}
{{!--
<div class="profile">
    {{#profile}}
    <img src="{{fbPhoto}}" alt="personal photo">
    <h4>{{fbName}}</h4>
    {{/profile}} {{#totalPage}}
    <p>Total pages: {{total}}</p>
    {{/totalPage}}
    <a href="/checkFriends"><button class="btn btn-info">Find your friends who liked with you!</button></a>
</div> --}}

