<div class="container-fluid">
    <div class="list-group">
        <div class="list-group-item ">
            <a href="/checkFriends">
                <span class="glyphicon glyphicon-chevron-left"></span>Back to friends
            </a>
            <div>
                <p>Common pages: {{pageCounter}}</p>
            </div>
        </div>
    {{#commonPages}}
        <div class="list-group-item">
            <span class="pageItem">
                <span class="list-group-item-text">{{fan_count}} Likes</span>
            </span>
            <a href="{{link}}" target="_blank">
                <img class="pageImg" src="{{picture.data.url}}" alt="picture">
                <h3 class="list-group-item-heading">{{name}}</h3>
                <span class="list-group-item-text">About:{{about}}</span>
            </a>
        </div>
    {{/commonPages}}
        <div class="list-group-item ">
            <a href="/checkFriends">
                <span class="glyphicon glyphicon-chevron-left"></span>Back to friends
            </a>
        </div>
    </div>
</div>
