<div>
    <p>It works!</p>

    <ul>
        {{#pages}}
            <li>Page name: {{name}}</li>
            <li>No of likes: {{fan_count}}</li>
            <li>Category: {{category}}</li>
            <li>About: {{about}}</li>
            <li>Link: {{link}}</li>
            <hr>
        {{/pages}}
    </ul>
</div>