<div>
    <a href="/home"><button>Home</button></a>
</div>
<div>
    {{#selectedCategory}}
    <div class="fansPage col-sm-12">
        <a href="{{link}}" target="_blank">
            <div>
                <img src="{{picture.data.url}}" alt="picture">
                <h1>{{name}}</h1>
                <p>Like: {{fan_count}}</p><img src="http://vectorlogo4u.com/wp-content/uploads/2016/09/facebook-like-icon-720x340.png"
                    alt="like icon">
                <p>About:{{about}}</p>
            </div>
        </a>
    </div>
    {{/selectedCategory}}
</div>